.wy-nav-content {
    max-width: 80% !important;
}

@import url("default.css");
span.caption-text {
  color: #468ecb;
}

kbd, .kbd {
    display: inline-block;
    padding: 3px 5px;
    font-size: 11px;
    line-height: 10px;
    color: #444d56;
    vertical-align: middle;
    background-color: #fafbfc;
    border: 1px solid #d1d5da;
    border-radius: 3px;
    box-shadow: inset 0 -1px 0 #d1d5da;
}

/* a:visited {
    color: ;
} */

/* img.align-right {
    float: right;
} */
