{# Import the theme's layout. #}
{% extends '!layout.html' %}

{% block footer %} {{ super() }}

<style>
    /* Sidebar header (and topbar for mobile) */
    .wy-side-nav-search,
    .wy-nav-top {
        background: #42905e;
    }

    /* Sidebar */
    .wy-nav-side {
        background:#373435;
    }
</style>
{% endblock %}


{% block menu %}
{{ super() }}
<!--<a href="genindex.html">Index</a>-->
{% endblock %}


{%- block extrahead %}
<!--<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>-->
{% endblock %}